.btn-success{
	background-color:#4dad51;
	color:white;
}

.btn-info{
	background-color:#2196f3;
	color:white;
}

.btn-warning{
	background-color:#ff9602;
	color:white;
}

.btn-danger{
	background-color:#f44336;
	color:white;
}
